*{
	margin:0;
	padding:0;
	font-family: $fuente;
}

body{
  background: url('/img/sun.png');
  z-index:1;
	margin-top: 0;
	background-repeat: no-repeat;                          
	height: 710px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:30% 95%;
}

.container{
	opacity: 0.9;
	background-color: #B5B0AF;
	width: 100%;
	height: 100%;
	margin-top: 300px;

	label{
		color: white;
	}

	#contBoton{
		width: 100%;
		position: relative;
        background-color:whitesmoke;
        min-height: 100px;
        margin-top: 45%;

        a{
        	background-color:whitesmoke;
        	color: grey;
        	margin-left: 500px;
        }
	}
}